{% extends 'Salon/index.html'%}
{% load static %}
{% block content %}
<style>

    p {
    font-size:70px;
    margin-bottom: 50px;
    }

    ul li {
    list-style: none;
    font-size:30px;
    }

    h2 {
    font-size:50px;
    }
    span {
    font-size: 30px;
    }
</style>

    <p>Контакты</p>

    <h2>Режим работы:</h2>
    <ul>
        <li>ПН: 10:00 - 19:00</li>
        <li>ВТ: 10:00 - 19:00</li>
        <li>СР: 10:00 - 19:00</li>
        <li>ЧТ: 10:00 - 19:00</li>
        <li>ПТ: 10:00 - 19:00</li>
        <li>СБ: 10:00 - 17:00</li>
        <li>ВС: нерабочий день</li>
    </ul>

    <h2>Адрес:</h2>
    <ul>
        <li>г.Ярославль ул.Нефтяников д22</li>
    </ul>


{% endblock %}
